body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 182, 0, 0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
}

.active {
    display: none;
}

h1 {
    border-radius: 20px;
    color: #fff;
    padding: 5px 15px;
    font-size: 30px;
    background-color: #DF0101;
}

p {
    font-size: 1.9em;
    text-align: center;
    line-height: 1.5;
}

.menu select {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px 54px 10px 0;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #DF0101;
    cursor: pointer;
}

.Pedido {
    margin-top: 30px;
}

img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
}

span {
    border-radius: 20px;
    color: #fff;
    padding: 5px 15px;
    background-color: #DF0101;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    font-size: 25px;
}

button {
    background-color: #51bd63;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    margin: auto;
    display: block;
}

@media (max-width: 700px) {
    button {
        margin-top: 25px
    }
    .container {
        border-radius: 0;
    }
}